<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상세페이지</title>
    <link rel="stylesheet" href="../static/css/board_detail.css">
</head>
<body>

    <!-- 네비게이션 바 -->
    <nav>
        <div class="menu">
            <a href="">
            <img src="../static/svg/logo.svg" alt="">
            </a>
            <ul>
                <li><a href="">일상</a></li>
                <li><a href="">요리</a></li>
                <li><a href="">여행</a></li>
                <li><a href="">영화</a></li>
                <li><a href="">IT</a></li>
                <li>logout</li>
                <li>글쓰기</li>
            </ul>
        </div>
    </nav>


    <!-- 중단 -->
    <section>
        <!-- 중단 전체 div -->
        <div>
            <!-- 글 작성 -->
            <div class="first">
                <div>작성일</div>
                <div>제목</div>
                <div>by 작성자</div>
                <div>토픽</div>
                <div>content</div>
            </div>
            <!-- 글 추천 목록 -->
            <div class="second">
                <div>Other posts you may like</div>
                <div >
                    content
                </div>
            </div>
            
            <!-- 버튼모음 -->
            <div class="third">
                {% if user.is_authenticated %}
                <!-- 수정 -->
                <button>수정하기</button>
                <!-- 삭제 -->
                <button>삭제하기</button>
                <!-- 공유 -->
                <button>공유하기</button>
                {% endif %}
            </div>

                <!-- 다음글 이전글 -->
            <div class="fourth">
               
                <div class="next">
                    <span>다음글</span>
                    <span>제목</span>
                    <span>날짜</span>
                </div>

                <div class="prev">
                    <span>이전글</span>
                    <span>제목</span>
                    <span>날짜</span>
                </div>
                
            </div>
        </div>

    </section>


    <!-- 하단 배너 -->
    <footer>

    </footer>


</body>
</html>