{% load custom_filter%} {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/board.css' %}" rel="stylesheet" />
    <link href="{% static 'css/footer.css' %}" rel="stylesheet"/>
    <title>Document</title>
</head>
<body>
    <!-- 네비게이션 바 -->
        {% include "nav_black.html" %}
        <!-- 대표게시글-->
        <div class="firstcard">
            <!--게시글 제목 내용-->
            <div class="infobox">
                <h1>Lorem ipsum dolor</h1>
                <h class>Lorem ipsum dolor sit amet consectetur. Non pretium arcu praesent cursus aliquam pellentesque. Euismod consectetur fames vitae nunc gravida morbi felis porttitor integer. Ridiculus id purus feugiat et mi justo scelerisque euismod euismod. Turpis dictumst luctus nisi placerat purus dolor luctus vitae pretium. Gravida faucibus scelerisque quis mi consequat malesuada.</h>
                <div class="readmore"><button>READ MORE</button></div>
            </div>
            <!--게시글 이미지-->
            <div class="infoimg">
                <img class="img" src = "{% static 'css/1.png' %}">
            </div>
        </div>

        <!--게시글 목록-->
        <div class="cards">
            {% for post in posts %}
                <div class="card">
                    {% comment %} {{post.image}} <!-- 게시글 이미지 --> {% endcomment %}
                    {% if post.content|get_img_src %}
                    <img src="{{ post.content|get_img_src }}" alt="Thumbnail image" />
                    {% else %}
                    <div
                      style="width: 100%; height: 100%; background-color: transparent"
                    ></div>
                    {% endif %}
                    <p class='create_date'>{{post.create_date}}</p> <!--작성 시간-->
                    <h3 class='post_title'>{{post.title}}</h3> <!-- 게시글 제목 -->
                    <p class='post_content'>{{post.content|text_only}}</p> <!-- 게시글 내용 -->
                </div>
            {% endfor %}
        </div>
            
        
    </main>
    <footer>
        {% include "footer.html" %}
    </footer>
</body>
</html>