{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar_black.css' %}">
</head>
<body>
    <nav class="nav-bar">
        <div class="nav-container">
            <!-- 왼쪽 로고와 로고 버튼 -->
            <a href="{% url 'board' %}" class="logo-link">
                <img src="{% static 'img/logo_white.svg' %}" alt="" class="bg-logo">
                <img src="{% static 'img/myLOG_black.png' %}" alt="로고" class="top-logo">
            </a>
            
            <!-- 검색 폼 추가 -->
            <form method="GET" action="{% url 'board' %}" class="search-form">
                <div class = 'search_box_area'>
                    <input class = 'search_box' id = 'search' type="text" name="search" placeholder="검색">
                        <div id="search_box_btn">
                            <input class="search_box_icon" type="image" src="{% static 'img/search.png' %}">
                        </div>
                </div>
            </form>

            <!-- 오른쪽 버튼 영역 -->  
            <div class="nav-buttons">
                <!-- 필터링 된 토픽 표시 9/16 수정 -->
                <a href="{% url 'board_topic' topic=1 %}" class="primary-button {% if current_topic == 1 %}active{% endif %}">일상</a>
                <a href="{% url 'board_topic' topic=2 %}" class="primary-button {% if current_topic == 2 %}active{% endif %}">요리</a>
                <a href="{% url 'board_topic' topic=3 %}" class="primary-button {% if current_topic == 3 %}active{% endif %}">영화</a>
                <a href="{% url 'board_topic' topic=4 %}" class="primary-button {% if current_topic == 4 %}active{% endif %}">여행</a>
                <a href="{% url 'board_topic' topic=5 %}" class="primary-button {% if current_topic == 5 %}active{% endif %}">IT</a>
                <div class="row-box">
                    <!-- 로그인/로그아웃 버튼 -->
                    {% if user.is_authenticated %}
                        <a href="{% url 'board_logout' %}" class="primary-button logout-button">Logout</a>
                        <a href="{% url 'board_write' %}" style = "background-color: white; color:black;" class="primary-button create-post-button">Just Write!</a>
                    {% else %}
                        <a href="{% url 'board_login' %}" style = "background-color: white; color:black;" class="primary-button">Login</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</body>
</html>
