*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #1e1e1e;
}


.firstcard{
    /* 배경 */
    background: #1E1E1E;
    width: 70%;
    height: 25rem;
    flex-shrink: 0; 
    margin-top: 104px;

    /* 위치 */
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 104px;
  
    /* 글씨체 */
    color: #fff;
}

.img{
    width: 600px;
    height: 343px;
    flex-shrink: 0;
    opacity: 0.4;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;   
}

.firstcard h1{
    font-size: 48px;
    font-weight: 700;
    margin: 0;
    max-height: 100px;
    overflow-y: clip;
}

.firstcard p{
    font-weight: 300;
    margin-bottom: 10px;
}

.readmore button{
    background-color: #3a3a3a;
    color: #f9f8f4;
    border-radius: 2px;
    padding: 8px 18px;
    width: fit-content;
    font-size: 14px
}

.readmore button:hover{
    background-color: #474747;
    transition: transform 0.8s;
}


.infobox{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: absolute;
    color: #fff;
    z-index: 1;
    height: auto;
    width: 40%;
    line-height: 2;
    max-height: 350px;
}

.infoimg{
    opacity: 0.3;
    height: -webkit-fill-available;
    object-fit: cover;
    overflow: hidden;
    position: relative;
    float: right;
}

footer{
    background-color: #E7E3DA;
    position: absolute;
    height: 200px;
    flex-shrink: 0;
    width: 100%;
}

header button{
    border-radius: 2px;
    background-color: #3A3A3A;
    color: white;
    width: 40%;
}


/* 카드부분 */

.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    padding: 3rem;
    flex-wrap: wrap;
}

.card{
    width: 27%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    border-radius: 0.5rem;
}

.card > img {
    min-height: 10rem;
}

.card:hover{
    background-color: #EEE;
}


.post_content{
    overflow-wrap: break-word;
    white-space: auto;
}



/* 추천글 */

.rec_post_content{
    max-height: 160px;
    overflow:hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    white-space:normal;
}