*{
    font-family: 'Pretendard', sans-serif;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 104px;
    position: fixed;
    top: 0;
    background-color: #1e1e1e;
    width: 100%;
    z-index: 999;
    color: #f9f8f4;
    text-decoration: none;
    font-family: 'Pretendard', sans-serif;
}

.nav-container{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

a:link {
  color : #f9f8f4;
}
a:visited {
  color : #f9f8f4;
}
a:hover {
  color : #f9f8f4;
}
a:active {
  color : #f9f8f4
}

.nav-buttons{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-topics{
    display: flex;
    gap: 40px;
}

button{
    cursor: pointer;
    all: unset;
}

button:hover{
    cursor: pointer;
}

.primary-button {
    display: inline-block;
    background-color: #1e1e1e;
    border-radius: 10px; /* radius 수정 9/16(토) */
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    padding: 10px 15px;
  }
  
  .primary-button:hover {
    background-color: #696969;
    transition: transform 0.8s,  background-color 0.3s;
    color: #ffffff;
  }


.logout-button:hover{
  color: rgb(255, 162, 162);
  transition: transform 0.8s,  color 0.3s;
}

.row-box{
    display: flex;
    align-items: center;
    gap: 20px;
  }

/* nav 로고 사진 */

.logo-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #f9f8f4;
}

.bg-logo {
  width: 100%;
  height: 100%;
}

.top-logo {
  position: absolute;
  top: 50%; /* 수직 위치를 중앙으로 조정 */
  left: 50%; /* 수평 위치를 중앙으로 조정 */
  transform: translate(-50%, -50%); /* 중앙으로 정렬 */
  z-index: 1; /* 상위 이미지를 앞으로 가져옵니다. */
}

/* 나머지 CSS 스타일은 그대로 유지합니다. */

/* 토픽 필터링 표시 수정 9/16(토) */
.primary-button.active {
  background-color: #696969; 
}

/* 검색바 전체 부분 */
.search_box_area {
  display: flex;
  width: 10px;
  height: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  gap: 1px;
  flex-shrink: 0;
  margin-top: 8px;
  margin-right: 50px;
  /* border: 1px solid white; */

}

/* 검색창 부분 */
.search_box {
  width: 250px;
  height: 40px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border: 1px solid #696969;
  border-radius: 2px 0px 0px 2px;
  background: #1e1e1e;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--ytd-searchbox-text-color);
  border-radius: 10px;
  background-color: #1e1e1e;
  padding-left: 5px;
  font-family: iceJaram-Rg;
}

.search_box::placeholder {
  font-family: iceJaram-Rg;
  font-size: 15px;
  color: #696969;
}

/* 돋보기 모양 안쪽 부분 */
.search_box_icon {
  display: flex;
  width: 24px;
  height: 24px;
  padding: 6px 13px;
  justify-content: center;
  align-items: center;
  background: #303030;
  /* border: 1px solid white; */
}

/* 돋보기 모양 바깥부분 */
#search_box_btn {
  display: flex;
  width: 50px;
  height: 36px;
  padding: 3px 7px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid var(--border-color, #303030);
  background: var(--border-color, #303030);
}









/* NAV 반응형 예시 */

.nav-links{
  display: flex;
  justify-content: space-around;
}

.nav-links li{
  list-style: none;
}

.navbar__toggleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
}

@media screen and (max-width: 1300px) {
  .nav-buttons {
          flex-direction: column;
          align-items: flex-start;
          padding: 8px 24px;
  }
  .nav-links {
          display: none;
          align-items: center;
          width: 100%;
  }
  .nav-links li {
          width: 100%;
          text-align: center;
  }
  .navbar__toggleBtn {
           display: block;
   }
  .nav-links.active{
          display: flex;
  }

  .active-search{
    display: none;
    transition: 0.5s ease;
  }
}